<style>
.auth-button-div {
  position: fixed;
  z-index: 9999999;
  right: 10px;
  top: 60px;
  position: fixed;
  width: 40px;
}
.auth-button-div a {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Verdana', sans-serif;
  background: #eee;
  color: #77304c;
  font-weight: normal;
  font-size: 32px;
  padding: 0;
  text-decoration: none!important;
  border: 1px solid #ccc!important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  opacity: 0.7;
}
.auth-button-div a:hover {
    background: white!important;
    opacity: 1.0;
    border: 1px solid #aaa!important;
}
.auth-flashes {
  position: fixed;
  z-index: 9999999;
  right: 80px;
  top: 10px;
  position: fixed;
}
.auth-flashes li {
  display: block;
  background: #eee;
  color: #77304c;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Verdana', sans-serif;
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
}
.auth-flashes li.error {
  color: #aa506c;
}
.auth-flashes li>span {
  cursor: pointer;
  float:right;
  font-weight: 600;
  margin: 0 4px 0 10px;
  /*background:#ccc;*/
}
</style>
