<div class="auth-button-div">
  {% for (url, title, entity) in buttons %}
  <a href="{{ url }}" title="{{ title }}">{{ entity }}</a>
  {% endfor %}
</div>
{# FIXME: try to remove buttons inside preview iframe... #}
<script>
/* https://stackoverflow.com/questions/326069 */
function inIframe () {
    try {
        return window.self !== window.top;
    } catch (e) {
        return true;
    }
}
if (inIframe()) {
  var divs = document.getElementsByClassName('auth-button-div');
  if (divs) divs[0].parentNode.removeChild(divs[0]);
}
</script>
