<div class="auth-button-div">
  {% for (url, title, entity) in buttons %}
  <a href="{{ url }}" title="{{ title }}">{{ entity }}</a>
  {% endfor %}
</div>
{# FIXME: try to remove buttons inside preview iframe... #}
<script>
document.querySelector("iframe").addEventListener( "load", function(e) {
  return;
  var iframe = document.querySelector("iframe");
  var inner = iframe.contentDocument || iframe.contentWindow.document;
  var divs = inner.getElementsByClassName('auth-button-div');
  if (divs) divs[0].parentNode.removeChild(divs[0]);
  //var divs = inner.getElementsByClassName('auth-flashes');
  //if (divs) divs[0].parentNode.removeChild(divs[0]);
  });
</script>
