{% extends "layout.html" %}
{% block box %}
<h1>Aide</h1>
<div class="container">
    {% if this.index %}
    <h2>Rubriques</h2>
    <ul>
        {% for url, item in this.index %}
        <li><a href="{{ url }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    Aucune page d'aide n'est enregistrée.
    {% endif %}
    {% if help_root and site.get(help_root) %}
    <h2>Documentation</h2>
    <ul>
    {% with prefix = help_root %}
    {% for page in site.get(prefix).children.include_undiscoverable(true) %}
    {{ page }}
    <li><a href="{{ page.path }}/">{{ page.title }}</a></li>
    <li><a href="../{{ page.path[1:] }}">{{ page.title }}</a></li>
    <li><a href="{{ page.path[13:] }}">{{ page.title }}</a></li>
    <li><a href="./{{ page.path[13:] }}">{{ page.title }}</a></li>
    <li><a href="/{{ page.path[1:] }}">{{ page.title }}</a></li>
    {% with url = page.path[page.path.startswith(prefix) and prefix|length:] %}
    <li><a href="{{ url }}">{{ page.title }}</a></li>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    </ul>
    {% endif %}
</div>
{% endblock box %}
